<a href="https://colab.research.google.com/github/NurhayatYurtaslan/100-Days-of-Code-Python-Developer-Challenge-2023/blob/main/100_Days_of_Code_Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **100 Days of Code: Python Developer Challenge 2023 - Day 4**

# Exercise1:

Calculate the geometric mean of the following numbers: 4, 8, 4.5, 15

In [ ]:
x1, x2, x3, x4 = 4, 8, 4.5, 15
 
geo = (x1 * x2 * x3 * x4) ** (1 / 4)
 
print(f'Geometric average of the given numbers: {geo:.2f}')

Geometric average of the given numbers: 6.82

# Exercise2:

From the following text:

string = 'PKV-89415-PLN'

extract the code containing the first three and last three characters.

In [ ]:
string = 'PKV-89415-PLN'
 
code = string[:3] + string[-3:]
 
 
print(code)

PKVPLN

# Exercise3:

From the following text:

string = '1 0 0 1 0 1'

remove spaces using slicing. Then convert the result to decimal notation.

In [ ]:
string = '1 0 0 1 0 1'
 
binary = string[::2]
number = int(binary, 2)
 
 
print(f'Number found: {number}')

Number found: 37

# Exercise4:

Using the slicing, reverse the order of the characters in the following text:

text = '100 days of code'

Print the result.

In [ ]:
text = '100 days of code'
 
 
print(text[::-1])

edoc fo syad 001